.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1px solid orange;
    }
    
    .menu-lista{
        display: flex;
    }
    
    .menu-item{
        list-style: none ;
    }
    
    .menu-item:last-child .menu-link{
        margin-right: 0;
    }
    
    .menu-link{
        color: #808080;
        margin-right: 1.25rem;
        text-decoration: none;
        text-transform: lowercase;
    }
    
    .menu-link:hover{
        color: orange;
        font-weight: bold;
        transition: 1s;
    }
    
    
    
    
    
    
    