.quem-somos{
    text-align: center;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    justify-content: space-around;
}

.pessoas{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.quem__somos__titulo{

    font-family: Pacifico, cursive;
    color: #8b0606;
    font-size: 3.1875rem;
    text-align: center;
    margin-bottom: 1rem;

}

.quem__somos__paragrafo{
    text-align: center;
    font-weight: 100;
    font-size: 1.75rem;
    color: #595959;
}

.quem__somos__imagem{
    border-radius: 50%;

}

.pessoa__titulo{

    font-family: Pacifico, cursive;
    color: #8b0606;
    font-size: 2rem;
}

.pessoa__paragrafo{
    text-transform: lowercase;
    color: #595959;
    font-size: 1.25rem;
}





@media screen and (min-width:0) {
    .pessoas{
        flex-direction: column;
        margin-right: 20px;
    }

    .quem__somos__imagem{
        margin-right: 5px;
        width: 180px;
        height: 180px;
    }
    
}


@media screen and (min-width:768px) {
    .pessoas{
        flex-direction: row;
    }

    .quem-somos{

        margin: 0 auto;
    }

    .quem__somos__imagem{
        height: 250px;
        width: 250px;
        margin: 0 auto;
    }
    
}

@media screen and (min-width:992px){

    .quem__somos__imagem{
        height: 300px;
        width: 300px;
        margin: 0 auto;
    }
}



